.header {
    background-color: rgb(77, 34, 0);  
    padding: 20px 0;
    text-align: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .nav {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .nav li {
    margin: 0 15px;
    color: rgb(255, 255, 255); 
    font-size: 18px;
    cursor: pointer;
    transition: color 0.3s ease;
  }
  
  .nav li:hover {
    color: rgb(255, 253, 208); 
  }
  