.container {
    background-color: rgb(219, 203, 179); 
    padding: 20px;
    min-height: 100vh; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }